.add-new-btn {
    display: block;
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.italic {
    font-style: italic;
}

.grey-colored {
    color: rgba(0, 0, 0, 0.53);
}

.no-margin {
    margin: 0px;
}

html,
body {
    background-color: #f1f1f1;
}

.my-app-container {
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

header>nav {
    background-color: white;
    height: 64px;
    line-height: 64px;
}

.md-card md-card-title {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

footer {
    background-color: rgba(0, 0, 0, 0.87);
    line-height: 64px;
    height: 64px;
    color: rgba(255, 255, 255, 0.83);
}

footer p {
    padding-left: 16px;
}

h2 {
    padding-left: 8px;
    padding-top: 8px;
}

.warning {
    color: red;
}

.animated {
    animation-duration: 0.475s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}