<h2>{{title}}</h2>

<md-content layout-padding class="animated fadeInUp">
    <form name="postingForm" ng-submit="submit(posting, isMaxSalaryOk);">
        <md-input-container class="md-block">
            <label>Title</label>
            <input md-maxlength="128" required md-no-asterisk name="title" ng-model="posting.title">
            <div ng-messages="postingForm.title.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 128 characters long.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Company</label>
            <input md-maxlength="128" required md-no-asterisk name="company" ng-model="posting.company">
            <div ng-messages="postingForm.company.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 128 characters long.</div>
            </div>
        </md-input-container>
        <div layout="row">
            <md-input-container flex="50">
                <label>Salary min</label>
                <input min="0" step="0.01" type="number" ng-model-options="{debounce: 200}" ng-change="checkSalary()" required name="salaryMin"
                    ng-model="posting.salaryMin">
                <div ng-messages="postingForm.salaryMin.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="50">
                <label>Salary max
                    <span class="warning" ng-if="!isMaxSalaryOk">Salary range is to wide!</span>
                </label>
                <input min="0" step="0.01" type="number" ng-model-options="{debounce: 10}" ng-change="checkSalary()" required name="salaryMax"
                    ng-model="posting.salaryMax">
                <div ng-messages="postingForm.salaryMax.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex="40">
                <label>City</label>
                <input type="text" required name="city" ng-model="posting.city">
                <div ng-messages="postingForm.city.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="40">
                <label>Street</label>
                <input type="text" required name="street" ng-model="posting.street">
                <div ng-messages="postingForm.street.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex="20">
                <label>Postal code</label>
                <input type="text" required name="postalCode" ng-model="posting.postalCode" ng-pattern="/^[0-9]{2}-[0-9]{3}$/">
                <div ng-messages="postingForm.postalCode.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">
                        Wrong Postal code format! It must be xx-xxx
                    </div>
                </div>
            </md-input-container>
        </div>

        <div>
            <md-button ng-disabled="!postingForm.$valid" type="submit" md-no-ink class="md-raised md-primary">Submit</md-button>
        </div>
    </form>
</md-content>
<!-- 
<pre>
         {{postingForm | json}}
</pre> -->