<h2>{{test}}</h2>

<div class="animated fadeInUp">
    <md-card ng-repeat="posting in postings track by  $index">
        <md-card-title>
            <md-card-title-text>
                <h2 class="no-margin">
                    <span>{{posting.title}}</span>
                    <span class="grey-colored italic">@ {{posting.company}}</span>
                </h2>
                <p>{{posting.city+' '+posting.postalCode+', '+posting.street}}</p>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="addToFavourite($index)" class="md-icon-button md-accent" aria-label="Favorite">
                <i class="material-icons">favorite</i>
                <md-tooltip md-direction="left">Add to favourite</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card>

    <div ng-repeat="posting in postings track by  $index">
        <posting-item info="posting" on-fav="addToFavourite(data)"></posting-item>
    </div>

</div>